* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    background-color: rgb(212, 212, 212);
    min-height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-areas: 'navbar navbar'
                          'items-container name-container'
                          'items-container payment-container'
                          'total-table total-table'
                          'order-btn order-btn';
}

.navbar {
    grid-area: navbar;
    background-color: rgb(51, 13, 13);
    height: 40px;
}
.items-container {
    grid-area: items-container;
    border: 1px solid black;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 0px 4px;
}
.name-container {
    grid-area: name-container;
    border: 1px solid black;
    background-color: burlywood;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.payment-container {
    grid-area: payment-container;
    border: 1px solid black;
}
.total-table {
    grid-area: total-table;
    border: 1px solid black;
    margin: auto auto;
    width: 30%;
}

.total-table td:first-child {
    text-align: left;
}

.total-table td:last-child {
    text-align: right;
}

.nav-title {
    color: burlywood;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    color: rgb(105, 87, 63);
    font-size: 15px;
    font-weight: 600;
    align-items: left;
    justify-content: left;
    padding: 10px;
}

.items-box {
    background-color: burlywood; 
}

.name-input {
    width: 80%;
    border: 1px solid rgb(105, 87, 63);
    background-color: burlywood;
    font-size: 15px;
    color: rgb(22, 18, 13);
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    margin: 20px auto ;

}

.order-btn {
    grid-area: order-btn;
    background-color: limegreen;
    border: none;
    border-radius: 30px;
    padding: 0px;
    font-size: 10px;
    margin: auto auto;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.total-sum {
    padding-top: 10px;
    font-weight: bold;
}